@import "tailwindcss";


@theme {
  --color-fundo: #020617;
  --color-card: #0f172a;
  --color-texto: #e5e7eb;
  --color-texto-secundario: #94a3b8;
  --color-destaque: #3b82f6;

  --font-texto: var(--fonte-texto);
  --font-titulos: var(--fonte-titulos);
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-Bold.woff2') format('woff2');

  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-Regular.woff2') format('woff2');
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', system-ui, -apple-system, BlinkMacSystemFont;
}


html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}