@import "tailwindcss";


@theme {
  --color-fundo: #020617;
  --color-card: #0f172a;
  --color-texto: #e5e7eb;
  --color-texto-secundario: #94a3b8;
  --color-destaque: #3b82f6;

  --font-texto: var(--fonte-texto);
  --font-titulos: var(--fonte-titulos);
}



html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}